<div>
    <form ng-submit="search.submitSearch(1)" class="searchbox">
        <fieldset class="platform-input">
            <label>
                <input type="radio" name="platform" value="android" ng-model="search.platform"/>
                <div><img src="/public/images/android-240.png"></div>
            </label>
            <label>
                <input type="radio" name="platform" value="ios" ng-model="search.platform"/>
                <div><img src="/public/images/app-store-240.png"></div>
            </label>
            <label>
                <input type="radio" name="platform" value="winphone" ng-model="search.platform"/>
                <div><img src="/public/images/winphone-240.png" class="last"></div>
            </label>
        </fieldset>
        <fieldset class="search-input">
            <autocomplete ng-model="search.searchTerm"
                          placeholder="search.getPlaceholderText()"
                          click-activation="true"
                          data="search.autoComplete.terms"
                          on-type="search.updateAutoCompleteTerms"
                          on-select="submitSearch"
                          is-active="search.autoComplete.active"></autocomplete>
        </fieldset>
    </form>
</div>
