<div class="search-input-wrapper">
    <div class="input-wrapper">
        <!--onfocus="setTimeout(function(){window.scrollTo(0, 150);document.body.scrollTop = 150;}, 1);"-->

        <input
            type="text"
            ng-model="searchParam"
            placeholder="{{ placeholder }}"
            ng-class="{ hasfocus: hasFocus }"
            ng-focus="setFocus(true)"
            ng-blur="setFocus(false)"
            spellcheck=false
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"/>
    </div>
    <div class="button-wrapper" ng-show="hasFocus && searchParam">
        <!--<div class="clear-button" ng-mousedown="clear($event)">-->
            <!--<span class="icon"></span>-->
        <!--</div>-->
        <button class="clear-button" type="button" ng-mousedown="clear($event)" tabindex = "-1">
            <span class="icon"></span>
        </button>
    </div>
    <div class="button-wrapper">
        <button class="submit-button" type="submit">
            <span class="icon"></span>
        </button>
    </div>
    <ul ng-show="completing && suggestions.length > 0">
        <li
            search-suggestion
            ng-repeat="suggestion in suggestions track by $index"
            index="{{ $index }}"
            val="{{ suggestion }}"
            ng-class="{ active: ($index === selectedIndex) }"
            ng-click="select(suggestion)"
            ng-bind-html="suggestion | highlight: searchParam"></li>
    </ul>
</div>