<div>
    <form ng-submit="search.submitSearch(1)" class="searchbox">
        <fieldset class="platform-input">
            <ul>
                <li ng-repeat="tab in platformTabs"
                        ng-class="{active: isActiveTab(tab.name)}"
                        ng-click="onTabClick(tab.name)">{{tab.friendlyName}}</li>
            </ul>
        </fieldset>
        <fieldset class="search-input">
            <autocomplete ng-model="search.searchTerm"
                          placeholder="search.getPlaceholderText()"
                          click-activation="true"
                          data="search.autoComplete.terms"
                          on-type="search.updateAutoCompleteTerms"
                          is-active="search.autoComplete.active"></autocomplete>
        </fieldset>
    </form>
</div>
