<div id="app" class="main-wrapper" ng-show="app.data.name">
    <h1>{{app.data.name}} <span>for {{platform.getFriendlyName(app.data.platform)}}</span></h1>
    <p>{{app.data.desc}}</p>
    <ul ng-if="app.data.categories.length > 0">
        <li ng-repeat="category in app.data.categories">
            <h4><a href="{{ url.createCategoryUrl(category.platform, category.urlName) }}">{{category.name}}</a></h4>
            <p>
                {{category.shortDesc}}
            </p>
        </li>
    </ul>
</div>
