<div id="app" class="main-wrapper" ng-cloak>
    <p class="error" ng-if="::appData.serverError">
        <span class="icon"></span>There was a problem getting the app details.
        Please try again, or if the problem persists please try later.
    </p>
    <div class="no-error-wrapper" ng-if="::!appData.serverError">
        <h1>{{::appData.censoredName}}</h1>
        <div class="sidebar">
            <a class="app-icon-wrapper" href="{{::appData.storeUrl}}" target="{{::getLinkTarget()}}">
                <img class="app-icon"
                     ng-src="{{::url.createAppleAppStoreImageUrl(appData.artworkMediumUrl, 175)}}">
            </a>
            <div class="basic-info">
                <p class="price highlighted">{{::appData.price | formatPrice}}</p>
                <div class="rating sidebar-section" ng-if="::appData.userRatingCurrent">
                    <h6>CURRENT RATING</h6>
                    <div ng-if="::appData.ratingCountCurrent >= 5"
                         akin-score
                         score="appData.userRatingCurrent"
                         votes="appData.ratingCountCurrent | formatVoteCount"></div>
                    <p ng-if="::appData.ratingCountCurrent < 5">&nbsp;&mdash;</p>
                </div>
                <div class="rating sidebar-section"
                     ng-if="::appData.userRating && appData.ratingCount >= 5">
                    <h6>OVERALL RATING</h6>
                    <div akin-score
                         score="appData.userRating"
                         votes="appData.ratingCount | formatVoteCount"></div>
                </div>
                <div class="age-rating single-line-sidebar-section">
                    <h6>AGE RATING</h6>
                    <p>{{::appData.advisoryRating}}</p>
                </div>
                <div class="ios-version single-line-sidebar-section">
                    <h6>iOS VERSION</h6>
                    <p>{{::appData.minOsVersion}}+</p>
                </div>
                <div class="supported-devices sidebar-section">
                    <span class="device tag-border"
                          ng-repeat="device in ::appData.supportedDevicesArray">{{::device}}</span>
                </div>
                <a class="download-button" href="{{::appData.storeUrl}}" target="{{::getLinkTarget()}}">
                    <img src="/images/app-store-badge.svg">
                </a>
            </div>
        </div>
        <div class="body-wrapper">
            <div class="mobile-download-button">
                <a class="download-button" href="{{::appData.storeUrl}}" target="{{::getLinkTarget()}}">
                    <img src="/images/app-store-badge.svg">
                </a>
            </div>
            <div class="screen-shots-positioning-wrapper">
                <div class="description">
                    <div ng-if="display.fullDescription">
                        <p class="body-text" ng-bind-html="::appData.description | formatDescription"></p>
                    </div>
                    <div ng-if="!display.fullDescription">
                        <p class="body-text" ng-bind-html="appData.firstSection | formatDescription"></p>
                        <a class="more-button never-underline" href ng-click="toggleFullDescription()"
                           ng-if="!(appData.firstSection === appData.description)"><span></span></a>
                    </div>
                </div>
                <div class="screen-shots">
                    <div class="iphone-screen-shots"
                         ng-if="::appData.screenShotUrls.length > 0">
                        <h2>SCREENSHOTS</h2>
                        <div class="screen-shot-wrapper img-border">
                            <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control>
                                <li ng-repeat="screenShotUrl in ::appData.screenShotUrls">
                                    <img ng-src="{{::screenShotUrl}}" nopin="nopin">
                                </li>
                            </ul>
                        </div>
                        <p class="label">iPhone Screenshots</p>
                    </div>
                    <div class="ipad-screen-shots"
                         ng-if="::appData.screenShotUrls.length == 0 && appData.ipadScreenShotUrls.length > 0">
                        <h2>iPAD SCREENSHOTS</h2>
                        <div class="screen-shot-wrapper img-border">
                            <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control>
                                <li ng-repeat="screenShotUrl in ::appData.ipadScreenShotUrls">
                                    <img ng-src="{{::screenShotUrl}}" nopin="nopin">
                                </li>
                            </ul>
                        </div>
                        <p class="label">iPad Screenshots</p>
                    </div>
                </div>
            </div>
            <div class="app-categories" ng-if="::appData.categories.length > 0">
                <h2>CATEGORY CHARTS</h2>
                <ul>
                    <li ng-repeat="category in ::appData.categories">
                        <p class="position" ng-bind="::category.position | ordinalNumber"></p>
                        <h4><a class="body-link underline-on-hover" href="{{::url.createCategoryUrl(appData.platform, category.url)}}">{{::category.name}}</a></h4>
                    </li>
                </ul>
            </div>
            <div class="technical-info">
                <h2>DETAILS</h2>
                <p class="seller"><span class="label">By</span>&nbsp;{{::appData.sellerName}}</p>
                <p class="language"><span class="label">Size</span>&nbsp;{{::appData.fileSizeBytes | formatBytes}}</p>
                <p class="last-updated"><span class="label">First Released</span>&nbsp;{{::appData.releaseDate | formatDate}}</p>
            </div>
        </div>
    </div>
</div>