[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.watermarked {
    color: #bbb;
}

input[type="radio"]{
    display:none;
}

input[type="radio"] + img
{
    border: 4px #fff;
    padding: 10px;
    display:inline-block;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #555;
}

input[type="radio"]:checked + img
{
    border: 4px solid;
    padding: 10px;
}

ul.disabled {
    display: none;
}

main .akin-logo {
    width: 354px;
    height: 100px;
    background-image: url('/public/images/logo-2.png');
    background-size: 354px 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
}