[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.watermarked {
    color: #bbb;
}

input[type="radio"]{
    display:none;
}

input[type="radio"] + img
{
    border: 2px #fff;
    padding: 10px;
    display:inline-block;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input[type="radio"]:checked + img
{
    border: 2px solid;
    padding: 10px;
}