<div>
    <form ng-submit="submit()">
        <div>
            <label>
                <input type="radio" name="platform" value="ios" ng-model="formState.platform"/>
                <img width="63" height="50" src="/public/images/ios.png">
            </label>
            <label>
                <input type="radio" name="platform" value="android" ng-model="formState.platform"/>
                <img width="50" height="59" src="/public/images/android.png">
            </label>
            <label>
                <input type="radio" name="platform" value="winphone" ng-model="formState.platform"/>
                <img width="60" height="60" src="/public/images/winphone.png">
            </label>
        </div>
        <div>
            <input type="text" name="searchTerm" ng-model="formState.searchTerm" akin-watermark="Search for categories or apps">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
