<div>
    <form>
        <div>
            <label>
                <input type="radio" name="platform" value="ios" ng-model="formState.platform"/>
                <img src="iOS.jpg">
            </label>
            <label>
                <input type="radio" disabled name="platform" value="android" ng-model="formState.platform"/>
                <img src="android.jpg">
            </label>
            <label>
                <input type="radio" disabled name="platform" value="winphone" ng-model="formState.platform"/>
                <img src="windows-phone.jpg">
            </label>
        </div>
        <div>
            <input type="text" name="searchTerm" ng-model="formState.searchTerm">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
