<div id="category" class="main-wrapper">
    <p class="error" ng-if="category.data.serverError">
        <span class="icon"></span>There was a problem getting the category details. Please try again, or if the problem persists please try later.
    </p>
    <div class="no-error-wrapper" ng-if="!category.data.serverError">
        <h1>{{category.data.name}} Chart</h1>
        <p class="description">{{category.data.description}}</p>
        <ul>
            <li ng-repeat="app in category.data.apps track by app.url"
                class="app-summary category-app-summary"
                ng-class="{'last':$last}"
                ng-cloak>
                <!--<div class="app-summary-wrapper">-->
                    <div class="app-summary-sidebar-wrapper">
                        <p class="position" ng-bind="app.position"></p>
                        <a href="{{ url.createAppUrl(category.data.platform, app.url) }}">
                            <img ng-src="{{app.artworkSmallUrl}}">
                        </a>
                        <p class="price highlighted" ng-bind="app.price | formatPrice"></p>
                    </div>
                    <div class="app-summary-body-wrapper">
                        <h3>
                            <a class="underline-on-hover"
                               href="{{ url.createAppUrl(category.data.platform, app.url) }}"
                               ng-bind="app.name"></a>
                        </h3>
                        <p class="tight-lines description"
                           ng-bind="app.shortDescription | firstSection: 120"></p>
                    </div>
                <!--</div>-->
            </li>
        </ul>
        <div class="loading-more-categories-spinner-wrapper" us-spinner="{radius:7, width:3, length: 6}" spinner-key="loading-more-categories">
            <a class="more-button never-underline" href
               ng-click="category.appendNextPage()"
               ng-show="category.hasMorePages"><span></span></a>
        </div>
</div>
<footer data-akin-footer></footer>