<div id="category" class="main-wrapper">
    <p class="error" ng-show="category.data.serverError">
        <span class="icon"></span>There was a problem getting the category details. Please try again, or if the problem persists please try later.
    </p>
    <div class="no-error-wrapper" ng-if="!category.data.serverError">
        <h1>{{category.data.name}}</h1>
        <p class="body-text category-description">{{category.data.description}}</p>
        <ul>
            <li ng-repeat="app in category.data.apps track by app.url"
                class="category-app"
                ng-class="{'last':$last}">
                <div class="info-wrapper">
                    <div class="sidebar">
                        <p class="position">{{app.position}}</p>
                        <a href="{{ url.createAppUrl(category.data.platform, app.url) }}">
                            <img class="small" ng-src="{{app.artworkSmallUrl}}">
                        </a>
                        <p class="price highlighted">{{app.price | formatPrice}}</p>
                    </div>
                    <!--<div class="thick-rule"></div>-->
                    <div class="main-info">
                        <h4>
                            <a class="underline-on-hover"
                               href="{{ url.createAppUrl(category.data.platform, app.url) }}"
                               ng-bind="app.name"></a>
                        </h4>
                        <p class="tight-lines description">{{app.shortDescription | firstSection: 120}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer data-akin-footer></footer>