<div id="category" class="main-wrapper">
    <p class="error" ng-if="::categoryData.serverError">
        <span class="icon"></span>There was a problem getting the category details. Please try again, or if the problem persists please try later.
    </p>
    <div class="no-error-wrapper" ng-if="::!categoryData.serverError">
        <h1>{{::categoryData.name}}</h1>
        <p class="description">{{::categoryData.description}}</p>
        <ul>
            <li ng-repeat="app in categoryData.apps track by app.url"
                class="app-summary category-app-summary"
                >
                <!--ng-class="{'last':$last}">-->
                <div class="app-summary-sidebar-wrapper">
                    <p class="position" ng-bind="::app.position"></p>
                    <a href="{{::url.createAppUrl(categoryData.platform, app.url)}}">
                        <img ng-src="{{::app.artworkSmallUrl}}">
                    </a>
                    <p class="price highlighted" ng-bind="::app.price | formatPrice"></p>
                </div>
                <div class="app-summary-body-wrapper">
                    <h3>
                        <a class="underline-on-hover"
                           href="{{::url.createAppUrl(categoryData.platform, app.url)}}"
                           ng-bind="::app.name"></a>
                    </h3>
                    <button ng-click="category.excludeFromCategory(categoryData.extId, app.extId)">Exclude</button>
                    <p class="tight-lines description"
                       ng-bind-html="::app.shortDescription | removeRules | firstSection: 120"></p>
                </div>
            </li>
        </ul>
        <div class="loading-more-categories-spinner-wrapper" us-spinner="{radius:7, width:3, length: 6}" spinner-key="loading-more-categories">
            <a class="more-button never-underline" href
               ng-click="category.appendNextPage(categoryData)"
               ng-show="categoryData.hasMorePages"><span></span></a>
        </div>
</div>