$score-icon-small-dimension: 14px;
$score-icon-large-dimension: 20px;

@mixin score-icon-size($dimension) {
  font-size: $dimension;
  line-height: $dimension;
  width: $dimension;
  height: $dimension;
}

@mixin score-x-offset($i) {
  left: $score-icon-small-dimension * $i;

  @include mq($from: tablet) {
    left: $score-icon-large-dimension * $i;
  }
}

.akin-score {
  position: relative;
  display: block;

  .icon,
  .vote-count {
    position: absolute;
    display: block;
  }

  .icon {
    top: 0px;
    text-align: center;
    @include score-icon-size($score-icon-small-dimension);

    @include mq($from: tablet) {
      @include score-icon-size($score-icon-large-dimension);
    }
  }

  .icon:before { color: $main-spot-colour; }
  .icon.empty:before { @include icon($empty-star-icon); }
  .icon.half-filled:before { @include icon($half-star-icon); }
  .icon.filled:before { @include icon($full-star-icon); }

  .zero  { @include score-x-offset(0); }
  .one   { @include score-x-offset(1); }
  .two   { @include score-x-offset(2); }
  .three { @include score-x-offset(3); }
  .four  { @include score-x-offset(4); }

  .vote-count {
    top: 2px;
    right: 0px;
    @include small-text;

    @include mq($from: tablet) {
      @include small-body-text;
    }
  }
}