/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete ul {
  position: absolute;
  left: 0;
  top: 28px;
  width: 100%;
  z-index: 1;
  background-color: white;
  padding-bottom: 3px;
  box-shadow: 0px 2px 2px #888;
}

.autocomplete li {
    text-align: left;
    list-style:none;
    width: 100%;
    padding: 3px 3px 3px 9px;
    background-color: white;
    line-height: 24px;
}

.autocomplete li.active {
    width: 100%;
    background-color: $main-spot-colour;
    color: white;
}

.autocomplete em {
  font-weight: bold;
}

.autocomplete {
  a.clear-search {
    position: absolute;
    right: 49px;
    top: 0px;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    .icon:before {
      @include icon($cross-icon);
      color: lighten($icon-colour, 20);
      display: block;
    }
  }
}
