/* AUTOCOMPLETE */

.autocomplete{
    width: 100%;
    position: relative;
}

.autocomplete ul {
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 2px solid #888;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
    z-index: 1;
    background-color: white;
}

.autocomplete li{
    text-align: left;
    list-style:none;
    width: 100%;
    padding:0.4em;
    background-color: white;
    line-height: 0.8em;
}

.autocomplete li.active{
    width: 100%;
    background-color: $main-spot-colour;
    color: white;
}

.autocomplete em {
  font-weight: bold;
}
