
$main-spot-colour: darken(#ad832c, 4); //#ad832c;// #c5aa67;
$alt-spot-colour: #6d96d5;
$dark-background-colour: #414142;// #626265;
$light-background-colour: #c3d5d4;
$icon-colour: darken($dark-background-colour, 5);
$control-border-colour: darken($dark-background-colour, 10);
$alt-black-colour: $dark-background-colour; //lighten(black, 20);
$text-light-colour: lighten($dark-background-colour, 20);
$error-colour: #a03d34;
$warning-colour: $alt-spot-colour;
$main-links-colour: darken($alt-spot-colour, 10);
$disabled-text-colour: #bbb;
$normal-border-radius: 6px;
//$body-font-family: 300 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//$body-font-family: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
$body-font-family: 400 16px/1.6 'Noto Sans', serif;
$header-font-family: 400 60px/1.3 'Bree Serif', Georgia, serif;
$menu-arrow-size: 7px;
$website-max-width: 1200px;

@import "modules/retina";
