// PLATFORM BIG BUTTONS

$platform-big-button-padding: 6px;
$platform-big-button-margin: 10px;
$platform-big-button-small-screen-size: 40px;
$platform-big-button-large-screen-size: 50px;
$platform-big-button-border-width: 3px;
$platform-big-button-border-radius: $normal-border-radius;
$platform-big-button-border-colour: lighten($main-spot-colour, 5);

#home-page .platform-input {
  display: table;
  width: ($platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2)) * 3 + ($platform-big-button-margin * 4);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include mq($from: tablet) {
    width: (($platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2)) * 3) + ($platform-big-button-margin * 4);
  }

  label {
    display: table-cell;
    padding: 0px $platform-big-button-margin;
    width: $platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
    height: $platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
      height: $platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
    }
  }

  input[type="radio"] {
    display: none;
  }

  input {
    margin: 0;
    padding: 0;
  }

  img {
    width: $platform-big-button-small-screen-size;
    height: $platform-big-button-small-screen-size;

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size;
      height: $platform-big-button-large-screen-size;
    }
  }

  img.last {
    margin-right: 0px;
  }

  div {
    display: block;
    position: relative;
    padding: $platform-big-button-padding;
    width: $platform-big-button-small-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
    height: $platform-big-button-small-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);

    border: $platform-big-button-border-width solid transparent;
    @include border-top-radius($platform-big-button-border-radius);
    @include border-bottom-radius($platform-big-button-border-radius);

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
      height: $platform-big-button-large-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
    }
  }

  input[type="radio"]:checked + div {
    border: $platform-big-button-border-width solid $platform-big-button-border-colour;
  }

  // Create an arrow below the button. TODO: replace by an arrow image.
  input[type="radio"]:checked + div:after,
  input[type="radio"]:checked + div:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  input[type="radio"]:checked + div:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  input[type="radio"]:checked + div:before {
    border-color: rgba(90, 245, 12, 0);
    border-top-color: $platform-big-button-border-colour;
    border-width: 14px;
    margin-left: -14px;
  }
}

// PLATFORM MENU

header .searchbox-wrapper {

  .platform-menu {
    button {
      margin: 0px 3px 0px 0px;
      font-size: 14px;
      line-height: 26px;
      padding: 0px 8px;
      font-weight: normal;
      min-width: 140px;
      position: relative;
      //background: white;
      //border: 1px solid $control-border-colour;
      border: 1px solid lighten($control-border-colour, 30);
      @include border-top-radius(6px);
      @include border-bottom-radius(6px);
      //color: $text-light-colour;
      cursor: pointer;
      text-align: left;

      background-color: transparent;
      color: white;
      //border-color: #aaa;


      .caret:after
      {
        position: absolute;
        right: 6px;
        font-family: "icomoon";
        content: "/";
        color: $icon-colour;

        color: white;
      }
    }

    button:hover,
    button:focus {
      outline: 0;
    }

    .dropdown {
      border: 1px solid $control-border-colour;
    }
  }

  .platform-menu.open {
    ul {
      display: block;
      background-color: white;
      border: 1px solid black;
      padding: 6px;
    }

    li {
      text-align: left;
      list-style:none;
      width: 100%;
      padding:0.4em;
      background-color: white;
      line-height: 0.8em;

      a {
        cursor: pointer;
      }
    }

    li.active{
      width: 100%;
      background-color: $main-spot-colour;
      color: white;
    }
  }
}

// SEARCHBOX

$searchbox-button-colour: lighten($main-spot-colour, 25);
$searchbox-border-colour: $control-border-colour;

//#home-page .autocomplete input[type="text"] {
//  border: 1px solid lighten($main-spot-colour, 10);
//  border-right-width: 0px;
//  height: 28px;
//  line-height: 28px;
//}

.search-input {
  .autocomplete {
    display: table;
    width: 100%;
  }

  .autocomplete .input-wrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;

    input[type="text"] {
      width: 100%;
      display: block;
      font-size: 16px;
      height: 28px;
      padding: 0px 30px 0px 3px;
      line-height: 26px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 0;

      @include mq($from: mobile-landscape) {
        margin-bottom: 0px;
      }
    }
  }

  .autocomplete .submit-button-wrapper {
    display: table-cell;
    height: 28px;
    vertical-align: middle;

    button {
      display: block;
      text-shadow: 0px 1px 0px darken(white, 20);
      @include linear-gradient(to top, #daa537, #d5b168, $fallback: #daa537);
      margin: 0px;
      border: none;
      border-image-width: 0px;
      width: 46px;
      height: 28px;
      line-height: 22px;
      font-size: 16px;
      background-color: black;
      font-family: "icomoon";
      color: $icon-colour;
      padding: 0px;
      @include border-top-radius(0);
      @include border-bottom-radius(0);
    }
  }
}

#home-page form.searchbox .search-input {
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.searchbox {
  padding: 0px 3px;

  @include mq($from: mobile-landscape) {
    padding: 0px;
  }
}

#home-page .search-input .autocomplete{
  .input-wrapper input[type="text"] {
    border: 1px solid lighten($dark-background-colour, 0);
    border-right: none;
  }

  .submit-button-wrapper button {
    border: 1px solid lighten($dark-background-colour, 0);
    border-left: none;
  }
}