// PLATFORM BIG BUTTONS

$platform-big-button-padding: 6px;
$platform-big-button-margin: 10px;
$platform-big-button-small-screen-size: 40px;
$platform-big-button-large-screen-size: 50px;
$platform-big-button-border-width: 2px;
$platform-big-button-border-radius: $normal-border-radius;
$platform-big-button-border-colour: $alt-spot-colour;

#home-page .platform-input {
  display: table;
  width: ($platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2)) * 3 + ($platform-big-button-margin * 4);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include mq($from: tablet) {
    width: (($platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2)) * 3) + ($platform-big-button-margin * 4);
  }

  label {
    display: table-cell;
    padding: 0px $platform-big-button-margin;
    width: $platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
    height: $platform-big-button-small-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
      height: $platform-big-button-large-screen-size + ($platform-big-button-border-width * 2) + ($platform-big-button-padding * 2);
    }
  }

  input[type="radio"] {
    display: none;
  }

  input {
    margin: 0;
    padding: 0;
  }

  img {
    width: $platform-big-button-small-screen-size;
    height: $platform-big-button-small-screen-size;

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size;
      height: $platform-big-button-large-screen-size;
    }
  }

  img.last {
    margin-right: 0px;
  }

  div {
    display: block;
    position: relative;
    padding: $platform-big-button-padding;
    width: $platform-big-button-small-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
    height: $platform-big-button-small-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);

    border: $platform-big-button-border-width solid transparent;
    @include border-top-radius($platform-big-button-border-radius);
    @include border-bottom-radius($platform-big-button-border-radius);

    @include mq($from: tablet) {
      width: $platform-big-button-large-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
      height: $platform-big-button-large-screen-size + ($platform-big-button-padding * 2) + ($platform-big-button-border-width * 2);
    }
  }

  input[type="radio"]:checked + div {
    border: $platform-big-button-border-width solid $platform-big-button-border-colour;
  }

  // Create an arrow below the button. TODO: replace by an arrow image.
  input[type="radio"]:checked + div:after,
  input[type="radio"]:checked + div:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  input[type="radio"]:checked + div:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  input[type="radio"]:checked + div:before {
    border-color: rgba(90, 245, 12, 0);
    border-top-color: $platform-big-button-border-colour;
    border-width: 13px;
    margin-left: -13px;
  }
}

// PLATFORM MENU

header .searchbox-wrapper {

  .platform-menu {
    button {
      margin: 0px 3px 0px 0px;
      font-size: 14px;
      line-height: 26px;
      padding: 0px 8px;
      font-weight: normal;
      min-width: 140px;
      position: relative;
      //background: white;
      //border: 1px solid $control-border-colour;
      border: 1px solid lighten($control-border-colour, 30);
      @include border-top-radius(6px);
      @include border-bottom-radius(6px);
      //color: $text-light-colour;
      cursor: pointer;
      text-align: left;

      background-color: transparent;
      color: white;
      //border-color: #aaa;


      .caret:after
      {
        position: absolute;
        right: 6px;
        font-family: "icomoon";
        content: "/";
        color: $icon-colour;

        color: white;
      }
    }

    button:hover,
    button:focus {
      outline: 0;
    }

    .dropdown {
      border: 1px solid $control-border-colour;
    }
  }

  .platform-menu.open {
    ul {
      display: block;
      background-color: white;
      border: 1px solid black;
      padding: 6px;
    }

    li {
      text-align: left;
      list-style:none;
      width: 100%;
      padding:0.4em;
      background-color: white;
      line-height: 0.8em;

      a {
        cursor: pointer;
      }
    }

    li.active{
      width: 100%;
      background-color: $main-spot-colour;
      color: white;
    }
  }
}

// SEARCHBOX

$searchbox-button-colour: $main-spot-colour;
$searchbox-border-colour: $control-border-colour;

.search-input {
  div {
    display: table;
    width: 100%;
  }

  div span.wrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }

  div input[type="text"] {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 16px;
    height: 28px;
    padding: 3px 30px 3px 3px;
    line-height: 28px;
    //margin-left: 3px;
    margin-bottom: 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $searchbox-border-colour;
    border-right-width: 0px;

    @include mq($from: mobile-landscape) {
      margin-bottom: 0px;
    }
  }

  div button {
    @include button(lighten($main-spot-colour, 15));

    display: table-cell;
    width: 46px;
    height: 26px;
    margin: 1px 0 0 0 !important;
    background-color: black;
    vertical-align: middle;
    padding: 0px 7px;

    @include border-top-radius(0);
    @include border-bottom-radius(0);

    .icon:after
    {
      font-family: "icomoon";
      content: "!";
      color: $icon-colour;
    }
  }
}

#home-page form.searchbox .search-input {
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  div button {
    height: 28px;
    margin: 0 !important;
  }
}
