//body {
//  @include outer-container;
//  min-width: 320px;
//
//  header {
//    @include span-columns(12);
//  }
//
//  main {
//    @include span-columns(12);
//    //margin-top: 30px;
//  }
//
//  footer {
//    @include span-columns(12);
//  }
//}

// http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/
html, body { height: 100%; }
body { display: table; max-width: 1200px; width: 100%; margin-left: auto; margin-right: auto; }
main { height: auto; }
header, footer, main { display: table-row; }
header, footer { height: 1px; }

// Push footer down.
//html, body {
//  height: 100%;
//}
//.content-wrapper {
//  min-height: 100%;
//  margin: 0 auto -96px;
//
//  @include mq($from: tablet) {
//    margin: 0 auto -80px;
//  }
//}
//footer,
//.push {
//  height: 96px;
//
//  @include mq($from: tablet) {
//    height: 80px;
//  }
//}

#home-page {
  margin-top: 30px;
  margin-bottom: 150px;

  // Ensure mobile browsers in landscape mode leave enough space below the searchbox.
  //padding-bottom: 100px;
}

#search-results {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

