// PLACEHOLDER TEXT STYLING

$placeholder-text-colour: #aaa;
$placeholder-text-colour-firefox-darken: 30%;

::-webkit-input-placeholder {
  color: $placeholder-text-colour;
}
:-moz-placeholder { /* Firefox 18- */
  color: shade($placeholder-text-colour, $placeholder-text-colour-firefox-darken);
}
::-moz-placeholder {  /* Firefox 19+ */
  color: shade($placeholder-text-colour, $placeholder-text-colour-firefox-darken);
}
:-ms-input-placeholder {
  color: $placeholder-text-colour;
}

// Remove placeholder text on focus
:focus::-webkit-input-placeholder { color: transparent; }
:focus:-moz-placeholder { color: transparent; }
:focus::-moz-placeholder { color: transparent; }
:focus:-ms-input-placeholder { color: transparent; }

input {
  font: $body-font-family;
}