p.error,
p.warning {
  padding: 12px;
  text-align: center;
  line-height: 16pt;

  @include mq($from: tablet) {
    //margin-left: auto;
    //margin-right: auto;
    //display: inline-block;
    // max-width: 600px;
  }
}

p.error {
  background: tint($error-colour, 80);
  color: $error-colour;

  .icon:before {
    display: block;
    font-size: 36pt;
    line-height: 36pt;
    margin-bottom: 12px;
    font-family: "icomoon";
    content: "+";
    color: $error-colour;
  }
}

p.warning {
  background: lighten($dark-background-colour, 45);
  color: $text-light-colour;

  .icon:before {
    display: block;
    font-size: 36pt;
    line-height: 36pt;
    margin-bottom: 12px;
    font-family: "icomoon";
    content: "!";
    color: $icon-colour;
  }
}

h1 {
  font-size: 22px;
  font-weight: bold;
  display: block;
  color: white;
  background-color: lighten($main-spot-colour, 5);
  margin: 0px 0px 12px 0px;
  padding: 18px 12px 6px 6px;

  @include mq($from: mobile-landscape) {
    background: none;
    border-bottom: 3px solid $main-spot-colour;
    margin-top: 12px;
    margin-bottom: 24px;
    color: $text-light-colour;
    display: inline-block;
    font-size: 28px;
  }

  span {
    font-weight: normal;
    font-size: 14px;
  }
}

p.body-text {
  max-width: 500px;
}

.category-search-result,
.app-search-result {
  h4 {
    margin-bottom: 3px;
    font-size: 18px;
  }

  p {
    font-size: 14px;
    color: $alt-black-colour;

    em {
      color: darken($alt-black-colour, 10);
    }
  }
}

.app-search-result {
  @include clearfix;
  margin-bottom: 12px;
  padding-bottom: 12px;
  max-width: 550px;

  border-bottom: 1px solid lighten($control-border-colour, 60);

  h4, p {
    margin-left: 57px + 6px;
    overflow: hidden !important;
  }

  h4 {
    line-height: 22px;
  }

  p {
    color: $dark-background-colour !important;
  }

  img {
    float: left;
    margin-top: 2px;
    margin-right: 6px;

    border: 1px solid white;
    @include border-top-radius(12px);
    @include border-bottom-radius(12px);
  }
}

footer .call-to-action {
  background-color: lighten($alt-spot-colour, 20);
  height: 28px;
  line-height: 28px;
  margin: 0px 18px;
  text-align: center;
  border: 1px solid $control-border-colour;
  border-bottom: none;
  @include border-top-radius(6px);
}

.rule {
  height: 2px;
  border-top: 1px solid black; //darken($dark-background-colour, 10);
  border-bottom: 1px solid lighten($dark-background-colour, 30);
}

.footer-copyright {
  p {
    font-size: 9px;
    color: lighten($dark-background-colour, 15);
    text-align: center;

    img {
      display: none;

      @include mq($from: tablet) {
        display: block;
        position: absolute;
        bottom: 16px;
        right: 0px;
        width: 200px;
        height: 58px;
      }
    }
  }
}

.spinner {
  position: fixed !important;
}

.spinner:before {
  display: block;
  position: absolute;
  left: -50px;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: rgba(100, 100, 100, 0.3);
  @include border-top-radius(12px);
  @include border-bottom-radius(12px);
  content: " "
}

.img-border {
  border: 1px solid lighten($control-border-colour, 60);
  padding: 3px;
}

.highlighted {
  background-color: lighten($main-spot-colour, 30);
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
}

.tag-border {
  padding: 1px 2px;
  border: 1px solid lighten($control-border-colour, 40);
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
}

#app {

  .no-error-wrapper {
    position: relative;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    display: block;
    border: 0px;
    border-bottom: 1px solid lighten($control-border-colour, 60);
    background-color: transparent;
    padding: 6px 6px 18px 6px;
    margin-bottom: 15px;
    color: black;

    @include mq($from: tablet) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  .download-button {
    clear: both;
    width: 180px;
    display: block;
    margin: 18px auto 0px auto;

    img {
      width: 180px;
      height: 53px;
    }
  }

  .sidebar {
    width: 308px;
    margin-left: auto;
    margin-right: auto;

    @include mq($from: mobile-wide) {
      width: 335px;
    }

    @include mq($from: mobile-landscape) {
      width: 126px;
      margin-left: 0px;
      margin-right: 0px;
      float: left;
    }

    @include mq($from: tablet) {
      width: 175px;
    }
  }

  .app-icon-wrapper {
    display: block;
    margin-bottom: 9px;
    float: left;
    position: relative;

    img.app-icon {
      width: 175px;
      height: 175px;

      @include mq($from: mobile-landscape) {
        width: 126px;
        height: 126px;
      }

      @include mq($from: tablet) {
        width: 175px;
        height: 175px;
      }
    }

    img.app-store-icon {
      position: absolute;
      left: 20px;
      bottom: 24px;
      width: 80px;
    }
  }

  .sidebar-section,
  .single-line-sidebar-section {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;

    @include mq($from: tablet) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 6px;
    }

    h6 {
      color: $alt-black-colour;
    }

    p {
      font-size: 12px;
      line-height: 16px;

      @include mq($from: tablet) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .single-line-sidebar-section {
    position: relative;

    h6, p {
      display: inline-block;
    }

    p {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }

  .basic-info {
    @include clearfix;
    width: 126px;
    margin-bottom: 9px;
    float: right;

    @include mq($from: tablet) {
      width: 175px;
    }

    .rating {
      margin-bottom: 20px;

      @include mq($from: tablet) {
        margin-bottom: 28px;
      }

      p {
        color: $alt-black-colour;
      }
    }

    .akin-score span.vote-count {
      color: $text-light-colour;
    }

    .price {
      font-size: 20px;
      line-height: 34px;
      font-weight: bold;
      margin-bottom: 2px;
      text-align: center;
      height: 34px;

      @include mq($from: tablet) {
        margin-bottom: 8px;
      }
    }

    .supported-devices {
      .device {
        display: inline-block;
        margin-right: 1px;

        @include mq($from: tablet) {
          margin-right: 6px;
        }
      }
    }

    .download-button {
      width: 126px;
      margin: 0px;

      @include mq($from: tablet) {
        width: 175px;
        margin-top: 6px;
      }

      img {
        width: 126px;
        height: 38px;

        @include mq($from: tablet) {
          width: 175px;
          height: 52px;
        }
      }
    }
  }

  .technical-info {
    .label {
      color: $text-light-colour;
      width: 170px;
      display: inline-block;
    }

    p {
      line-height: 24px;
    }

    .seller {
      margin-bottom: 12px;

      .label {
        width: auto;
        display: inline;
      }
    }
  }

  .body-wrapper {
    @include mq($from: mobile-landscape) {
      margin-left: 140px;
    }

    @include mq($from: tablet) {
      margin-left: 189px;
    }

    @include mq($from: desktop) {
      margin-right: 260px;
    }
  }

  .description {
    clear: both;
    padding: 18px 6px 0px 6px;
    border-top: 1px solid lighten($control-border-colour, 60);
    margin-bottom: 12px;

    @include mq($from: mobile-landscape) {
      clear: none;
      border-top: none;
      padding-top: 0px;
    }

    p {
      word-wrap: break-word;
      word-break: break-word;
    }

    .more,
    .less {
      display: block;
      width: 100px;
      margin: 12px auto 6px auto;
      text-align: center;
      border: 1px solid lighten($control-border-colour, 60);
      @include border-top-radius(6px);
      @include border-bottom-radius(6px);
    }

    span:before {
      font-size: 20pt;
      line-height: 20pt;
      font-family: "icomoon";
      color: lighten($icon-colour, 20);
    }

    .less span:before {
      content: "\\";
    }

    .more span:before {
      content: "/";
    }
  }

  h2 {
    font-weight: bold;
    font-size: 14px;
    display: block;
    color: $main-spot-colour;
    margin: 0px 0px 12px 0px;
    padding: 6px;
    text-align: center;

    border-bottom: 1px solid lighten($main-spot-colour, 0);
    padding-bottom: 3px;
    text-align: left;
    padding-left: 0px;
  }

  .app-categories,
  .screen-shots,
  .technical-info {
    padding: 0px 6px;
    margin-bottom: 12px;

    h4 {
      font-size: 18px;
    }
  }

  .screen-shot-wrapper {
    margin-bottom: 3px;

    h3 {
      color: $text-light-colour;
      margin-bottom: 6px;
    }
  }

  .screen-shots {
    clear: both;
    @include clearfix;

    @include mq($from: desktop) {
      position: absolute;
      right: 0px;
      top: 75px;
    }

    h2 {
      @include mq($from: desktop) {
        display: none;
      }
    }

    .rn-carousel-control-next,
    .rn-carousel-control-prev
    {
      color: $main-spot-colour;
    }

    .rn-carousel-control-next:before {
      font-size: 24pt;
      line-height: 24pt;
      font-family: "icomoon";
      content: ">";
    }

    .rn-carousel-control-prev:before {
      font-size: 24pt;
      line-height: 24pt;
      font-family: "icomoon";
      content: "<";
    }

    .label {
      margin: 0px;
      font-size: 14px;
      line-height: 18px;
      color: $text-light-colour;
      text-align: center;
    }

    ul {
      width: 232px;

      li img {
        width: 232px;
        height: auto;
      }
    }

    .screen-shot-wrapper {
      width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}