// STICKY FOOTER

$small-footer-height: 80px;
$medium-footer-height: 92px;
$large-footer-height: 137px;

html {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}

body {
  margin: 0px 0px $small-footer-height;

  @include mq($from: mobile-landscape) {
    margin: 0px 0px $medium-footer-height;
  }

  @include mq($from: tablet) {
    margin: 0px 0px $large-footer-height;
  }
}

footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: $small-footer-height;

  @include mq($from: mobile-landscape) {
    height: $medium-footer-height;
  }

  @include mq($from: tablet) {
    height: $large-footer-height;
  }
}

// Sticky footer adjustment
#home-page {
  padding-top: 30px;
  padding-bottom: 150px;
}

// HEADER LAYOUT

ul.social-media-links {
  float: right;
  padding-right: 4px;

  li {
    float: left;
  }
}

header {
  @include clearfix;

  .home-header-wrapper {
    max-width: $website-max-width;
    @include centred-margins;
  }

  .search-header-outer-wrapper {
    background-color: $dark-background-colour;
    padding-bottom: 2px;
    @include linear-gradient(to top, darken($dark-background-colour, 10), $dark-background-colour, $fallback: $dark-background-colour);

    .search-header-inner-wrapper {
      max-width: $website-max-width;
      @include centred-margins;
      margin-bottom: 3px;

      @include mq($from: mobile-landscape) {
        display: table;
        width: 100%;
        padding-top: 20px;
      }

      .akin-logo {

        @include mq($from: mobile-landscape) {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .searchbox-wrapper {

        @include mq($from: mobile-landscape) {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
        }
      }

      .searchbox {
        width: 100%;
        position: relative;

        @include mq($from: mobile-landscape) {
          display: table;
        }
      }

      .search-input {

        @include mq($from: mobile-landscape) {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          padding-right: 3px;
        }
      }

      .platform-menu {
        position: absolute;
        top: -31px;
        right: 0;

        @include mq($from: mobile-landscape) {
          display: table-cell;
          min-width: 140px;
          position: relative;
          top: 0px;
          vertical-align: middle;
        }
      }
    }
  }
}

// MAIN

p.body-text {
  max-width: 500px;
}

main .main-wrapper {
  @include clearfix;
  max-width: $website-max-width;
  @include centred-margins;
  padding: 6px 6px 20px 6px;

  @include mq($from: mobile-landscape) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include mq($from: wide) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

#about,
#raters {
  max-width: 600px;

  @include mq($from: tablet) {
    max-width: $website-max-width;
    padding-left: 130px;
    padding-right: 150px;
  }

  @include mq($from: wide) {
    @include centred-margins;
    padding-left: 150px;

    .about-section {
      float: left;
      width: 50%;

      p {
        margin-right: 24px;
      }
    }
  }

  .contact-details {
    clear: both;
    max-width: 400px;
    padding: 0px 12px;
    @include centred-margins;

    @include mq($from: mobile-landscape) {
      padding: 0px !important;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 440px;
      max-width: 440px;
    }

    .contact-details-section {
      @include clearfix;

      @include mq($from: mobile-landscape) {
        float: left;
        width: 220px;
      }
    }
  }
}

// PAGINATION

ul.pagination {
  @include clearfix;

  li {
    float: left;
    list-style-type: none;
  }
}

// FOOTER

footer .call-to-action-link-wrapper {
  max-width: 500px;
  @include centred-margins;
}

footer .footer-background-wrapper {
  background-color: $dark-background-colour;
  padding-top: 2px;
  @include linear-gradient(to top, darken($dark-background-colour, 10), $dark-background-colour, $fallback: $dark-background-colour);
}

footer .footer-centering-wrapper {
  @include clearfix;
  height: 48px;
  padding-bottom: 2px;
  position: relative;
  max-width: $website-max-width;
  margin-left:auto;
  margin-right: auto;
  padding-top: 6px;

  @include mq($from: mobile-landscape) {
    height: 60px;
  }

  @include mq($from: tablet) {
    height: 105px;
  }
}

// FOOTER NAVIGATION

.footer-menu {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;

  @include mq($from: mobile-landscape) {
    float: none;
    position: absolute;
    left: 0px;
    bottom: 6px;
    margin-left: 30px;
  }

  ul {
    position: relative;
    left: 50%;
    @include clearfix;

    @include mq($from: mobile-landscape) {
      left: 0px;
    }

    li {
      float: left;
      position: relative; // for IE
      list-style-type: none;
      color: lighten($main-spot-colour, 20);
      font-size: 16px;

      @include mq($from: tablet) {
        font-size: 20px;
      }

      a {
        float: left;
      }
    }
  }
}

// FOOTER COPYRIGHT

.copyright-wrapper {
  clear: both;
  @include centred-margins;

  @include mq($from: mobile-landscape) {
    position: absolute;
    right: 0px;
    bottom: 14px;
    margin-right: 30px;
  }
}

// SEARCH RESULTS PAGE

#search-results {

  .pagination-wrapper {
    .centering-wrapper {
      float: right;
      position: relative;
      left: -50%;
      text-align: left;

      @include mq($from: tablet) {
        float: none;
        left: 0px;
      }

      ul {
        position: relative;
        left: 50%;

        @include mq($from: tablet) {
          left: 0px;
        }
      }
    }
  }
}
