// SOCIAL MEDIA

.social-media-links {
  a {
    display: block;
    //background-image: url('/public/images/social-media-sprite-32.png');
    //@include background-image-2x('/public/images/social-media-sprite-64.png', 64px, 32px);
    width: 32px;
    height: 32px;

    font-family: "icomoon";
    font-size: 28px;
    text-align: center;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  a.facebook {
    //background-position: 0 0;
    margin-right: 2px;
    color: #3a579b;
  }

  a.twitter {
    //background-position: 32px 0;
    color: #598dca;
  }
}

// AUTOCOMPLETE CLEAR BUTTON

.autocomplete {
  a.clear-search,
  a.clear-search:link,
  a.clear-search:visited,
  a.clear-search:hover,
  a.clear-search:active {
    text-decoration: none;
    color: lighten($alt-black-colour, 10);
  }

  a.clear-search:active {
    color: black;
    background-color: lighten($alt-black-colour, 20);
  }
}

// AD

footer .call-to-action {
  a, a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
    font-weight: normal;
  }

  a:hover {
    text-decoration: underline;
  }

  a em {
    font-weight: bold;
  }
}

// FOOTER NAVIGATION

.footer-nav ul li {
  a {
    float: left;
    text-align: center;
    white-space: nowrap;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $alt-black-colour;
    font-weight: normal;
    font-size: 16px;
  }

  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

// PAGINATION

ul.pagination {

  li {
    float: left;
    list-style-type: none;

    a {
      display: inline-block;
      min-width: 32px;
      min-height: 30px;
      border: 1px solid $control-border-colour;
      margin-right: 4px;
      text-align: center;
      font-size: 14px;
      line-height: 30px;
      height: 32px;
      @include border-top-radius(4px);
      @include border-bottom-radius(4px);
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $alt-black-colour;
      font-weight: normal;
    }

    a,
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
    }
  }

  li a.next:before
  {
    font-family: "icomoon";
    content: ">";
  }

  li a.previous:before
  {
    font-family: "icomoon";
    content: "<";
  }

  li.active a {
    border: 1px solid transparent;
    //color: black;
  }

  li a.next,
  li a.previous {
    border: 1px solid transparent;
  }

  li.disabled a {
    visibility: hidden;
  }
}

// CATEGORY SEARCH RESULT

li.category-search-result h4 {
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: darken($main-spot-colour, 10);
    font-weight: normal;
  }

  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}

.search-type {
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: darken($main-spot-colour, 10);
    font-weight: normal;
  }
}