a, a:link, a:visited, a:hover, a:active {
  color: $main-links-colour;
  font-weight: normal;
}

// underline
a.underline, a.underline:link, a.underline:visited, a.underline:focus, a.underline:hover, a.underline:active { text-decoration: underline; }

// underline on click
a.underline-on-click, a.underline-on-click:link, a.underline-on-click:visited, a.underline-on-click:focus, a.underline-on-click:hover { text-decoration: none; }
a.underline-on-click:active { text-decoration: underline; }

// never underline
a.never-underline, a.never-underline:link, a.never-underline:visited, a.never-underline:focus, a.never-underline:active, a.never-underline:hover { text-decoration: none; }

// underline on hover
a.underline-on-hover, a.underline-on-hover:link, a.underline-on-hover:visited, a.underline-on-hover:focus, a.underline-on-hover:active { text-decoration: none; }
a.underline-on-hover:hover { text-decoration: underline; }

// <a> as button
a.basic-button {
  @include akin-basic-button
}

// SOCIAL MEDIA

.social-media-links {
  width: 70px;

  a {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 28px;
    text-align: center;
    color: $main-spot-colour;
  }

  a.facebook {
    margin-right: 6px;
  }

  a.facebook:after { @include icon($facebook-icon); }
  a.twitter:after { @include icon($twitter-icon); }

  a.facebook:active, a.facebook:hover { color: #999; }
  a.twitter:active, a.twitter:hover { color: #999; }
}

.home-header-wrapper .social-media-links,
#about .social-media-links {
  a.facebook:active, a.facebook:hover { color: $facebook-colour !important; }
  a.twitter:active, a.twitter:hover { color: $twitter-colour !important; }
}

#about .social-media-links {
  width: 100px;
}

.platform-menu .social-media-links {
  position: absolute;
  right: 0px;
  top: -8px;

  @include mq($to: mobile-landscape) {
    display: none;
  }
}

// AKIN LOGO

.akin-logo-link {
  display: inline-block;
  vertical-align: middle;
}

// AUTOCOMPLETE CLEAR BUTTON

//.search-input-wrapper {
//  a {
//    font-size: 16px !important;
//    color: lighten($alt-black-colour, 10);
//  }
//
//  a.clear-search:active {
//    //color: black;
//    //background-color: lighten($alt-black-colour, 20);
//  }
//}

// CALL TO ACTION

footer {
  .call-to-action-link {
    display: block;
    font-size: 14px;
    margin: 0px 6px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid $control-border-colour;
    border-bottom: none;
    @include border-top-radius(6px);
    color: black;
    font-weight: normal;
    @include main-spot-colour-gradient-background;

    @include mq($from: mobile-landscape) {
      font-size: 16px;
    }
  }

  .call-to-action-link:active {
    background-color: lighten($alt-spot-colour, 10);
    text-shadow: none;
  }
}

// FOOTER MENU

.footer-menu {
  a {
    text-align: center;
    white-space: nowrap;
    color: lighten($main-spot-colour, 20);

    @include mq($from: mobile-landscape) {
      padding-bottom: 6px;
    }
  }
}

// PAGINATION

ul.pagination {
  li {
    a {
      display: inline-block;
      min-width: 32px;
      height: 32px;
      border: 1px solid $light-drawing-colour;
      margin-right: 4px;
      text-align: center;
      @include small-body-text;
      line-height: 30px;
      @include border-top-radius(6px);
      @include border-bottom-radius(6px);

      color: $alt-black-colour;
      font-weight: normal;
    }
  }

  li a.next { color: $icon-colour; }
  li a.next:before { @include icon($right-icon); }
  li a.previous:before { @include icon($left-icon); }

  li.active a {
    border: 1px solid white;
  }

  li a.next,
  li a.previous {
    border: 1px solid transparent;
  }

  li.disabled a {
    visibility: hidden;
  }
}

// SEARCH RESULT

li.category-search-result h4,
li.app-search-result h4 {
  a {
    color: $main-links-colour;
    font-weight: normal;
  }
}

// WARNINGS

p.info {
  a {
    color: darken($main-spot-colour, 10);
    font-weight: normal;
  }
}
