#home-page .akin-logo {
  img {
    display: block;
    width: 190px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    -ms-interpolation-mode: bicubic;

    @include mq($from: tablet) {
      width: 296px;
      height: 84px;
    }
  }
}

header .akin-logo {
  display: inline-block;

  img {
    width: 83px;
    min-width: 83px;
    height: 24px;
    margin: 4px 6px 0px 6px;

    @include mq($from: mobile-landscape) {
      width: 121px;
      min-width: 121px;
      height: 35px;
      margin: 0px 9px 0px 6px;
    }
  }
}

footer .akin-logo {
  @include mq($from: tablet) {
    width: 80px;
    height: 22px;
    margin-left: 6px;
    vertical-align: bottom;
    margin-bottom: 4px;
  }
}