
#home-page .akin-logo {
  display: block;
  width: 200px;
  height: 53px;
  margin: 0px auto 12px auto;

  @include mq($from: tablet) {
    width: 300px;
    height: 80px;
  }
}

header .akin-logo {
  width: 75px;
  height: 20px;
  margin: 7px 6px 0px 6px;

  @include mq($from: mobile-landscape) {
    width: 120px;
    height: 32px;
    margin: 0px 6px 0px 6px;
  }

  @include mq($from: wide) {
    margin: 0px 16px 0px 15px;
  }
}

footer .akin-logo {
  display: none;

  @include mq($from: tablet) {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 0px;
    width: 200px;
    height: 53px;
  }
}
