
$social-media-links-background-colour: $light-background-colour;
$social-media-links-border-radius: $normal-border-radius;

header ul.social-media-links {
  float: right;
  padding: 0 3px 2px 2px;
  background-color: $social-media-links-background-colour;
  @include border-bottom-radius($social-media-links-border-radius);

  li {
    float: left;
  }
}

// Centred horizontal list of page links.
.footer-nav {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
  margin-bottom: 8px;

  @include mq($from: tablet) {
    float: left;
    left: 0px;
    margin-left: 50px;
    line-height: 24px;
  }

  ul {
    position: relative;
    left: 50%;

    @include mq($from: tablet) {
      left: 0px;
    }

    li {
      float: left;
      position: relative; /* IE needs position:relative here*/
      list-style-type: none;
      color: $alt-black-colour;
      font-variant: uppercase;

      a {
        text-decoration: none;
        float: left;
        text-align: center;
        white-space: nowrap;
      }

      a, a:link, a:visited, a:hover, a:active {
        color: $alt-black-colour;
        font-weight: normal;
        font-size: 15px;
      }

      a, //a:link,
      a:visited, a:active {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
