
// ICONS

@mixin icon($content) {
  font-family: "icomoon";
  content: $content;
}

@mixin small-icon {
  font-size: 16px;
  line-height: 16px;
}

@mixin medium-icon {
  font-size: 20px;
  line-height: 20px;
}

@mixin large-icon {
  font-size: 24px;
  line-height: 24px;
}

@mixin very-large-icon {
  font-size: 36px;
  line-height: 36px;
}

// TYPOGRAPHY

@mixin h3-title-small-mobile {
  font-size: 14px;
  line-height: 18px;
}

@mixin h3-title-small-wide {
  font-size: 16px;
  line-height: 22px;
}

@mixin h3-title-medium {
  font-size: 18px;
  line-height: 22px;
}


@mixin h2-text {
  font-size: 22px;
  line-height: 28px;
}

@mixin h2-mobile-text {
  font-size: 20px;
  line-height: 26px;
}

@mixin page-title-text {
  font-size: 24px;
  line-height: 28px;
}

@mixin large-page-title-text {
  font-size: 28px;
  line-height: 32px;
}

@mixin large-body-text {
  font-size: 18px;
  line-height: 28px;
}

@mixin large-menu-text {
  font-size: 20px;
  line-height: 28px;
}

@mixin body-text {
  font-size: 16px;
  line-height: 26px; // 1.6em
}

@mixin small-body-text {
  font-size: 14px;
  line-height: 20px;
}

@mixin very-small-body-text {
  font-size: 12px;
  line-height: 16px;
}

@mixin tiny-text {
  font-size: 9px;
  line-height: 16px;
}

@mixin positioned-off-the-page {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: -500px;
}

// BOX MODEL

@mixin centred-margins {
  margin-left: auto;
  margin-right: auto;
}

// CONTROLS

@mixin main-spot-colour-gradient-background {
  @include linear-gradient(to top, $main-spot-colour, lighten($main-spot-colour, 20), $fallback: lighten($main-spot-colour, 20));
  text-shadow: 0px 1px 0px darken(white, 30);

  &:active {
    @include linear-gradient(to top, darken(#daa537, 15), darken(#d5b168, 15), $fallback: darken(#daa537, 15));
  }
}

@mixin akin-fancy-button {
  display: block;
  margin: 0px;
  border: none;
  border-image-width: 0px;
  height: 28px;
  line-height: 22px;
  font-size: 16px;
  padding: 0px;
  cursor: pointer;
}

@mixin control-border {
  border: 1px solid $light-drawing-colour;
  @include border-top-radius(6px);
  @include border-bottom-radius(6px);
  padding: 3px;
}

@mixin akin-basic-button {
  @include control-border;
  vertical-align: middle;
  font: $body-font-family;
  font-weight: normal;
  @include small-body-text;
  color: $alt-black-colour;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  display: block;

  &:active {
    background-color: $dark-background-colour;
  }
}

// Down arrow

@mixin down-arrow($left, $border-colour, $size) {
  &:after,
  &:before {
    top: 100%;
    left: $left;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    // Target IE
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      top: 99.99%; // bizarre IE hack; should be 100%
    }
  }
  &:after {
    border-color: transparent;
    border-top-color: $body-background-colour;
    border-width: $size;
    margin-left: 0px - $size;
  }
  &:before {
    border-color: transparent;
    border-top-color: $border-colour;
    border-width: $size + 4px;
    margin-left: 0px - $size - 4px;
  }
}

// Images

@mixin app-icon-shadow {
  box-shadow: 0px 2px 2px #888;
}
