// https://icomoon.io/app
@font-face {
  font-family: 'icomoon';
  src: url('/public/fonts/icomoon.eot'); /* IE9 Compat Modes */
  src: url('/public/fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/public/fonts/icomoon.woff') format('woff'), /* Modern Browsers */
  url('/public/fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/public/fonts/icomoon.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1 {
  font: $header-font-family;
}

h2, h3, h4, h5, h6, body, input {
  font: $body-font-family;
}

p {
   @include body-text;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
  word-break: break-word;
}

p.tight-lines {
  line-height: 1.3em; //21px?
}

em {
  font-weight: bold;
}
