// https://icomoon.io/app
@font-face {
  font-family: 'icomoon';
  src: url('/public/fonts/icomoon.eot'); /* IE9 Compat Modes */
  src: url('/public/fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/public/fonts/icomoon.woff') format('woff'), /* Modern Browsers */
  url('/public/fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/public/fonts/icomoon.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// BASIC FONT

body {
  font: $body-font-family;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

p.tight-lines {
  line-height: 1.3em;
}

p em {
  font-weight: bold;
}

h1 {
  font: $header-font-family;
}

// SEARCH RESULTS TEXT

#search-results .disabled {
  a, p, h4, em {
    color: $disabled-text-colour!important;
  }
}
