<div id="classified-apps" class="main-wrapper" ng-cloak>
    <form ng-submit="submitForm()">
        <input type="number" ng-model="classifiedApps.seedCategoryId" name="seedCategoryId" min="1" max="99999999">
        <input type="checkbox" ng-model="classifiedApps.include" name="include" value="true">Include
        <input type="submit" value="Submit">
    </form>
    <div class="classified-apps-list-wrapper">
        <ul class="classified-apps-list">
            <li ng-repeat="classifiedApp in classifiedAppsData track by classifiedApp.extId" class="classified-app">
                <h2>{{::classifiedApp.name}}</h2>
                <p class="id">{{::classifiedApp.extId}}</p>
                <p class="description">{{::classifiedApp.description}}</p>
                <p class="store-url"><a href="{{::classifiedApp.storeUrl}}" target="_blank"></a></p>
                <p class="genres"><em>Genres:</em> <span ng-repeat="genre in classifiedApp.genres track by $index">{{genre}}, </span></p>
                <div ng-if="::classifiedApp.screenshotUrls.length > 0" class="screenshots-wrapper">
                    <img ng-repeat="screenshotUrl in ::classifiedApp.screenshotUrls track by $index" src="{{screenshotUrl}}">
                </div>
                <div ng-if="::classifiedApp.screenshotUrls.length === 0" class="screenshots-wrapper">
                    <img ng-repeat="screenshotUrl in ::classifiedApp.ipadScreenshotUrls track by $index" src="{{screenshotUrl}}">
                </div>
                <p class="actions">
                    <button ng-if="!classifiedApps.include && !classifiedApp.updated" ng-click="::updateTrainingData(classifiedApp.extId, classifiedApps.seedCategoryId, true, classifiedApp)">Include</button>
                    <button ng-if="classifiedApps.include && !classifiedApp.updated" ng-click="::updateTrainingData(classifiedApp.extId, classifiedApps.seedCategoryId, false, classifiedApp)">Exclude</button>
                </p>
            </li>
        </ul>
    </div>
<div>