<div id="search-seed" class="main-wrapper" ng-cloak>
    <form ng-submit="submitForm()">
        Seed Category ID:<input type="number" ng-model="classifiedApps.seedCategoryId" name="seedCategoryId" min="1" max="99999999">
        Boost:<input type="number" ng-model="classifiedApps.boost" name="boost" min="1" max="10">
        Skip:<input type="number" ng-model="skip" name="skip" min="0" max="99999999">
        Take:<input type="number" ng-model="take" name="take" min="1" max="99999999">
        <input type="submit" value="Submit">
    </form>
    <a href="/classified-apps">Classified Apps</a>
    <div class="search-seed-apps-list-wrapper">
        <p>Total apps: <span ng-bind="searchSeedAppsData.total"></span></p>
        <ul class="search-seed-apps-list">
            <li ng-repeat="searchSeedApp in searchSeedAppsData.apps track by searchSeedApp.extId" class="search-seed-app">
                <h2>{{::searchSeedApp.name}}</h2>
                <p class="id">{{::searchSeedApp.extId}}</p>
                <p class="description">{{::searchSeedApp.desc}}</p>
                <p class="genres"><em>Genres:</em> <span ng-repeat="genre in searchSeedApp.genres track by $index">{{genre}}, </span></p>
                <div ng-if="::searchSeedApp.screenShots && searchSeedApp.screenShots.length > 0" class="screenshots-wrapper">
                    <img ng-repeat="screenshotUrl in ::searchSeedApp.screenShots track by $index" src="{{screenshotUrl}}">
                </div>
                <div ng-if="::!searchSeedApp.screenShots || searchSeedApp.screenShots.length === 0" class="screenshots-wrapper">
                    <img ng-repeat="screenshotUrl in ::searchSeedApp.ipadScreenShots track by $index" src="{{screenshotUrl}}">
                </div>
                <p class="actions">
                    <button ng-if="!searchSeedApp.isTrainingData" ng-click="::updateTrainingData(searchSeedApp.extId, classifiedApps.seedCategoryId, true, searchSeedApp)">Include</button>
                    <button ng-if="!searchSeedApp.isTrainingData" ng-click="::updateTrainingData(searchSeedApp.extId, classifiedApps.seedCategoryId, false, searchSeedApp)">Exclude</button>
                    <button ng-if="searchSeedApp.isTrainingData" ng-click="::deleteTrainingData(searchSeedApp.extId, classifiedApps.seedCategoryId, searchSeedApp)">Remove from Training Data</button>
                </p>
            </li>
        </ul>
    </div>
<div>